.header-container {
  height: 800px;
  position: relative;
  background-image: url(../../../images/ChairBg.png);
  background-size: cover;
}
.header-container::after {
  height: 800px;
  content: ' ';
  position: absolute;
  top: 0;
  width: 29%;
  right: 0;
  background-color: #3a4256;
  z-index: -50;
}
