.table {
    border: 1px solid #f7f7f7;
    border-radius: 3px;
}
.CheckOutBtn {
    float: right;
    margin: 15px 0;
}
.OrderButton {
    background: #8fc76b;
    padding: 10px 20px;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background .2s;
}